/*
FUENTES DE LA PAGINA
font-family: 'Muli', sans-serif;
font-weight: 400;
font-family: 'Playfair Display SC', serif;
font-weight: 700;
font-family: 'Volkhov', serif;
font-weight: 400;
*/

/*********************/
/********HEADER*******/
/*********************/

*
{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

#header
{
    background-attachment: fixed;
    /*background-image: url(../img/backgrounds/fondo_blanco.png);*/
}

#header .logo
{
    text-align: center;
}

#header .logo img
{
    width: 200px;
    height: 100px;
}

#header nav
{
    background: none;
    border: none;
    border-radius: 0;
    margin-top: 1.7em;
    margin-bottom: 0;
}

#menu
{
    margin: 0;
    width: 100%;
    text-align: center;
}

#menu li
{
    display: inline-block;
    float: none;
    margin: 0 1em;
}

#menu li a
{
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    color: #440b43;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.5s;
}

#menu li a:hover
{
    background-color: #440b43;
    color: #FFF;
}

#menu li .active, #menu li .active:hover
{
    background-color: #FFF;
    color: #ffcd20;
    text-shadow: 1px 1px 3px #000;
    transform: none;
}

.menu-responsive
{
    display: none;
    padding: 1em;
    text-align: center;
}

.menu-responsive a
{
    background-color: #440b43;
    border-radius: 0.5em;
    color: #FFF;
    font-size: 1.5em;
    padding: 0.8em 0.7em 0.7em 0.8em;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}

.menu-responsive a:hover
{
    background-color: #FFF;
    color:  #440b43;
}

/*********************/
/*********HOME********/
/*********************/

#slideshow_principal
{
    padding: 0;
}

.carousel
{
    overflow: hidden;
    position: relative;
}

#slide_page
{
    width: 100%;
}

.cycle-slideshow
{
    height: 40.5em;
}

.cycle-slideshow #slide_page img
{
    /*border: 8px solid rgb(0, 0, 255);
    border-radius: 1.5em;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.71);
    box-sizing: border-box;*/
    width: 100%;
    height: 40.5em;
    z-index: 0;
}

.cycle-slideshow .caption
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
}

.cycle-slideshow .caption .content
{
    color: #FFF;
    padding: 16em 8em;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
}

.cycle-slideshow .caption .content h2
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 1em;
}

.cycle-slideshow .caption .content p
{
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 28px;
}

.carousel .pager
{
    position: absolute;
    top: 0.2em;
    right: -5em;
    z-index: 1000;
    color: white;
    font-size: 4em;
    line-height: 0.2em;
}

.carousel .pager span
{
    margin: 0.1em;
    cursor:pointer;
    text-shadow: 2px 2px 5px #000;
}

.carousel .pager .cycle-pager-active
{
    color: #df1d1a;
    text-shadow: 2px 2px 5px #000 inset;
}

.carousel .navigation a
{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.2em;
    padding-top: 0.4em;
    position: absolute;
    top: 50%;
    z-index: 1000;
    color: white;
    font-size: 2em;
    text-decoration: none;
    margin-top: -0.8em;
}

.carousel .navigation a.next
{    
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    right: -6em;
}

.carousel .navigation a.prev
{
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%; 
    left: -5em;
}

#bienvenida
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/fondo_blanco.png);
    padding: 16em 8em;
}

#bienvenida p
{
    line-height: 32px;
    font-size: 1.4em;
    text-align: justify;
}

#bienvenida h1
{
    color: #ab16aa;
    margin-bottom: 2em;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
}

#bienvenida h2
{
    margin-bottom: 1em;
}

#home_evento
{
    background-attachment: fixed;
    background-image: url(../img/home/evento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 16em 8em;
    text-shadow: 2px 2px 5px #000;
}

#home_evento h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 2em;
}

#home_evento p
{
    font-size: 1.4em;
    line-height: 28px;
    text-align: justify;
}

#services
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/fondo_morado.png);
    box-sizing: border-box;
    color: #FFF;
    padding: 8em 4em;
}

#services h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 1em;
}

#services_column
{
    padding: 2em;
}

#services_column .imagen
{
    text-align: center;
}

#services_column .imagen img
{
    border-radius: 100%;
    border: 8px solid #FFF;
    width: 20em;
    height: 20em;
}

#services_column .titulo
{
    margin-top: 4em;
    text-align: center;
}

#services_column .titulo strong
{
    /*font-family: 'Volkhov', serif;
    font-weight: 400;*/
    font-size: 1.5em;
}

#presupuesto
{
    background-attachment: fixed;
    background-image: url(../img/home/presupuesto.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 16em 8em;
    text-align: center;
}

#presupuesto h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin: 1em;
    text-shadow: 1px 1px 5px #000;
}

#presupuesto p
{
    font-size: 1.3em;
    text-shadow: 1px 1px 3px #000;
}

#presupuesto a
{
    background-color: #440b43;
    border: none;
    color: #FFF;
    margin: 2em 0;
    transition: all 0.5s;
}

#presupuesto a:hover
{
    background-color: #ee8986;
    color: #440b43;
}

/*********************/
/*******EVENTOS*******/
/*********************/

#eventos
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/eventos.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 12em 8em;
    text-shadow: 2px 2px 3px #000;
}

#eventos h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 1em;
}

#eventos p
{
    font-size: 1.4em;
    line-height: 28px;
    text-align: justify;
}

#sociales
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/fondo_rojo.png);
    padding: 2em;
}

#sociales_column
{
    height: 30em;
    margin: 2em;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all 0.5s;
}

#sociales_column:hover
{
    transform: scale(1.1);
}

#sociales_column img
{
    width: 100%;
    height: 100%;
}

#sociales_column #titulo
{
    background-color: rgba(68, 11, 67, 0.8);
    color: #fff;
    display: block;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 1.5em;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*********************/
/******SERVICIOS******/
/*********************/

#header_servicios
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/servicios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 12em 8em;
}

#header_servicios h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 2em;
    text-shadow: 2px 2px 5px #000;
}

#header_servicios p
{
    font-size: 1.4em;
    line-height: 28px;
    text-align: justify;
    text-shadow: 2px 2px 3px #000;
}

#servicios
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/fondo_morado.png);
    color: #fff;
    padding: 3em;
}

#servicios h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin: 1em 0;
}

#servicios #inter_box
{
    margin: 2em;
    padding: 0;
    box-sizing: border-box;
    height: 25em;
    position: relative;
    overflow: hidden;
}

#servicios #inter_box img
{
    width: 100%;
    height: 100%;
}

#servicios #inter_box #texto
{
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 100%;
}

#servicios #inter_box #texto strong
{
    display: block;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
}

#servicios #inter_box #texto p
{
    font-size: 1.1em;
    line-height: 24px;
    padding: 1.5em;
    text-align: justify;
}

/*********************/
/*******GALERIA*******/
/*********************/

#galeria
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/fondo_rojo.png);
    color: #FFF;
    padding: 2em;
}

#galeria h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin: 1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

#galeria #inter_box
{
    padding: 2em;
}

#galeria #inter_box img
{
    border: 3px solid rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 18em;
    opacity: 0.8;
    transition: all 0.5s;
}

#galeria #inter_box img:hover
{
    border-radius: 1em;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
    opacity: 1.0;
    transform: scale(1.2);
}

/*********************/
/*******CONTACTO******/
/*********************/

#contacto
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/fondo_morado.png);
    color: #FFF;
    padding: 2.5em;
}

#contacto #formulario
{
    padding: 1em 4em;
}

#contacto h1
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 1em;
}

#formulario .controls
{
    margin-bottom: 1em;
}

#formulario label
{
    display: block;
    font-size: 1em;
    line-height: 32px;
}

#formulario .combobox
{
    background: none;
    font-size: 1.2em;
    padding: 1em;
    width: 100%;
}

#formulario .combobox option
{
    color: #000;
}

#formulario .textbox
{
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    padding: 0.8em 0.2em;
    width: 100%;
}

.textbox::-webkit-input-placeholder
{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 1.2em;
}

#formulario #respuesta
{
    background-color: #FFF;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    padding: 1em;
    text-align: center;
}

#formulario #respuesta .success_msj
{
    color: #065506;
}

#formulario #respuesta .error_msj
{
    color: red;
}

#formulario button
{
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #440b43;
    display: block;
    font-size: 1.5em;
    margin: auto;
    padding: 0.5em 2em;
    transition: all 0.5s;
}

#formulario button:hover
{
    background-color: #440b43;
    color: #FFF;
}

#contacto #info
{
    padding: 1em 4em;
}

#contacto #info #v-card
{
    margin-bottom: 2em;
}

#contacto #info #v-card h3
{
    font-family: 'Volkhov', serif;
    font-weight: 400;
}

#contacto #info #v-card a
{
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #440b43;
    transition: all 0.5s;
}

#contacto #info #v-card a:hover
{
    background-color: #440b43;
    color: #FFF;
}

#contacto #info p
{
    line-height: 28px;
    text-align: justify;
}

#formulario h2
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 2em;
}

#formulario fieldset
{
    background-color: #440b43;
    border: 5px double #FFF;
    margin-bottom: 2em;
    padding: 1em;
}

#formulario fieldset legend
{
    border: none;
    color: #fff;
    padding: 0.2em 0.5em;
    text-align: center;
    width: auto;
}

/*********************/
/********FOOTER*******/
/*********************/

#resumen
{
    background-attachment: fixed;
    background-image: url(../img/backgrounds/fondo_blanco.png);
    padding: 4em 2em;
}

#resumen h4
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    margin-bottom: 2em;
}

#resumen span
{
    margin-right: 0.5em;
}

#resumen .list
{
    font-size: 1.2em;
    line-height: 32px;
    list-style: none;
    margin: 1em 2.5em;
}

#resumen .list a
{
    border: 2px solid #440b43;
    background-color: #440b43;
    transition: all 0.5s;
}

#resumen .list a:hover
{
    background-color: #FFF;
    color: #440b43;
}

#resumen .links
{
    line-height: 28px;
    list-style: none;
    margin: 0 4em;
}

#resumen .links a
{
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.5s;
}

#resumen .links a:hover
{
    color: #440b43;
}

#resumen .social_icons
{
    list-style: none;
    text-align: center;
}

#resumen .social_icons li
{
    display: inline-block;
    margin-right: 0.5em;
}

#resumen .social_icons a
{
    font-size: 2em;
    text-decoration: none;
    transition: all 0.5s;
}

#resumen .social_icons a:hover
{
    color: #440b43;
}

#copy
{
    background-color: #440b43;
    color: #FFF;
    padding: 1em 0;
    text-align: center;
}

.icon-facebook
{
    color: #3d60ae;
}

.icon-twitter
{
    color: #72cff1;
}

.icon-instagram
{
    color: #695244;
}

.ir-arriba
{
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    color:#440b43;
    cursor:pointer;
    display:none;
    font-size: 2em;
    padding: 0.5em;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 1000;
}

.ir-arriba:hover
{
    background-color: #440b43;
    color: #FFF;
}